<nav>
    <div class="navbar">
      <div class="title">La Bodega</div>
      <ul class="menu">
        <li><a [routerLink]="['catalogo']"><img src="/assets/ic_dashboard_black_24px.svg" /></a></li>
        <li><a [routerLink]="['carrito']"><img src="/assets/ic_shopping_cart_black_24px.svg" /></a><span *ngIf="carShoping.length != 0"  class="numProd">{{carShoping.length}}</span></li>
        <li><a [routerLink]="['']"><img src="/assets/ic_credit_card_black_24px.svg" /></a></li>
        <li><a [routerLink]="['']"><img src="/assets/ic_exit_to_app_black_24px.svg" /></a></li>
      </ul>
    </div>
</nav>